<div class="item">
    <div>Avatar URL</div>
    <div>
      <input type="url" name="avatar_url" placeholder="http://" value="{{student.avatar_url}}">
    </div>
</div>
<div class="item">
    <div>Nome</div>
    <div>
      <input type="text" name="name" placeholder="Nome completo" value="{{student.name}}">
    </div>
</div>
<div class="item">
    <div>Nascimento</div>
    <div>
      <input type="date" name="birth" value="{{student.birth}}">
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
      <input type="email" name="email" value="{{student.email}}">
    </div>
</div>

<div class="item">
    <div>Período Escolar</div>
    <div>
      <select name="school_year">
        <option value="">Selecione uma opção</option>
        <option value="5º Ano do Ensino Fundamental" {% if student.school_year == "5º Ano do Ensino Fundamental" %} selected {% endif %}> 5º Ano do Ensino Fundamental</option>
        <option value="6º Ano do Ensino Fundamental" {% if student.school_year == "6º Ano do Ensino Fundamental" %} selected {% endif %}> 6º Ano do Ensino Fundamental</option>
        <option value="7º Ano do Ensino Fundamental" {% if student.school_year == "7º Ano do Ensino Fundamental" %} selected {% endif %}> 7º Ano do Ensino Fundamental</option>
        <option value="8º Ano do Ensino Fundamental" {% if student.school_year == "8º Ano do Ensino Fundamental" %} selected {% endif %}> 8º Ano do Ensino Fundamental</option>
        <option value="9º Ano do Ensino Fundamental" {% if student.school_year == "9º Ano do Ensino Fundamental" %} selected {% endif %}> 9º Ano do Ensino Fundamental</option>
        <option value="1º Ano do Ensino Médio" {% if student.school_year == "1º Ano do Ensino Médio" %} selected {% endif %}>1º Ano do Ensino Médio</option>
        <option value="2º Ano do Ensino Médio" {% if student.school_year == "2º Ano do Ensino Médio" %} selected {% endif %}>2º Ano do Ensino Médio</option>
        <option value="3º Ano do Ensino Médio" {% if student.school_year == "3º Ano do Ensino Médio" %} selected {% endif %}>3º Ano do Ensino Médio</option>
      </select>
    </div>
</div>

<div class="item">
    <div>Carga Horária Semanal</div>
    <div>
      <input type="number" name="hours_week" value="{{student.hours_week}}">
    </div>
</div>

<div class="item">
    <div>Nome do Professor</div>
    <div>
      <select name="teacher_name">
        {%for teacher in teacherOptionName%}
          <option value="{{teacher.id}}" {% if student.teacher_id == teacher.id %} selected {% endif %}>{{teacher.name}}</option>
        {%endfor%}
      </select>
    </div>
</div>





