<script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', function(event) {
        const confirmation = confirm('DESEJA DELETAR ESSE USUÁRIO?')
        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>